<section class="team-1">
  <div class="container">
    <div class="row">
      <div class="col-md-8 ml-auto mr-auto text-center">
        <h3 class="display-3">Our Awesome Team</h3>
        <p class="lead">Three brothers are building SportKeeper to better serve extreme sports facilities in their member management needs. And yes, our mother purposely gave us all names that start with a "J".</p>
      </div>
    </div>
    <div class="row">
      <div id="carouselExampleControls" class="carousel slide carousel-team">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/sections/hotstuff.jpg' | relative_url }}" alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h3 class="card-title display-3">Jeremiah</h3>
                    <div class="lead">
                      The man, the myth, the legend... Jerem has done it all. As our head of customer support and marketing,
                      Jerem ensures that everything we do meets the needs of our customers. He also does a pretty good job at
                      climbing rocks. 
                    </div>
                    <ul class="list-unstyled mb-0">
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3">
                              <i class="ni ni-atom"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Head of Customer Experience</p>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3">
                              <i class="ni ni-user-run"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Lover of Outside</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="footer text-left">
                      <a href="javascript:;" class="btn btn-twitter btn-sm rounded-circle"><i class="fab fa-twitter"></i></a>
                      <a href="javascript:;" class="btn btn-facebook btn-sm rounded-circle"><i class="fab fa-facebook-square"></i></a>
                      <a href="javascript:;" class="btn btn-dribbble btn-sm rounded-circle"><i class="fab fa-dribbble"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/theme/lucy.jpg' | relative_url }}" alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h1 class="card-title">Jadyn</h1>
                    <div class="lead">
                      The most caring man we know, Jadyn has a heart of gold and works to make sure that our tool will actually meet your needs. He also has an amazing sense of humor and likes short walks in the dirt.
                    </div>
                    <ul class="list-unstyled mb-0">
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3">
                              <i class="ni ni-atom"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Head of Business Development</p>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3">
                              <i class="ni ni-user-run"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Explorer of Nature</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="footer text-left">
                      <a href="javascript:;" class="btn btn-twitter btn-sm rounded-circle"><i class="fab fa-twitter"></i></a>
                      <a href="javascript:;" class="btn btn-facebook btn-sm rounded-circle"><i class="fab fa-facebook-square"></i></a>
                      <a href="javascript:;" class="btn btn-dribbble btn-sm rounded-circle"><i class="fab fa-dribbble"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="container">
              <div class="row">
                <div class="col-md-5 p-5">
                  <div class="p-4">
                    <img class="rounded shadow transform-perspective-left" src="{{ '/assets/img/theme/willy-dade.jpg' | relative_url }}" alt="First slide">
                  </div>
                </div>
                <div class="col-md-7">
                  <div class="wrapper p-md-0">
                    <h1 class="card-title">Justin</h1>
                    <div class="lead">
                      As an experienced product manager, Justin makes sure that our tools are working and our books are in shape. He also likes to explore the world with his girls.
                    </div>
                    <ul class="list-unstyled mb-0">
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-info mr-3">
                              <i class="ni ni-atom"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Head of Finance and IT</p>
                          </div>
                        </div>
                      </li>
                      <li class="py-1">
                        <div class="d-flex align-items-center">
                          <div>
                            <div class="badge badge-circle badge-success mr-3">
                              <i class="ni ni-user-run"></i>
                            </div>
                          </div>
                          <div>
                            <p class="mb-1">Family Man</p>
                          </div>
                        </div>
                      </li>
                    </ul>
                    <div class="footer text-left">
                      <a href="javascript:;" class="btn btn-twitter btn-sm rounded-circle"><i class="fab fa-twitter"></i></a>
                      <a href="javascript:;" class="btn btn-facebook btn-sm rounded-circle"><i class="fab fa-facebook-square"></i></a>
                      <a href="javascript:;" class="btn btn-dribbble btn-sm rounded-circle"><i class="fab fa-dribbble"></i></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <i class="ni ni-bold-left"></i>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <i class="ni ni-bold-right"></i>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</section>