<section class="pricing-5" id="pricing-6" style="background-image: url('{{ '/assets/img/ill/bg_pricing5.svg' | relative_url }}');">
    <div class="container pt-5">
      <div class="row">
        <div class="col-md-4 d-flex justify-content-center flex-column">
          <h3 class="display-3 mt-3">Choose a plan for to help manage your facility!</h3>
          <ul class="nav nav-pills nav-pills-primary my-4" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" data-toggle="tab" href="#commercial" role="tablist">
                Monthly
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" data-toggle="tab" href="#personal" role="tablist">
                Annual
              </a>
            </li>
          </ul>
          <p class="lead mt-0">Whether you're a small gym just establishing roots, or a large business spread across multiple locations, we have the plan that's right for you.</p>
        </div>
        <div class="col-lg-7 col-md-8 ml-auto mr-auto">
          <div class="tab-content tab-space">
            <div class="tab-pane" id="personal">
              <div class="row">
                <div class="col-md-6">
                  <div class="card card-pricing bg-white border-0 text-center mb-4">
                    <div class="card-header bg-transparent">
                      <h6 class="text-uppercase ls-1 py-3 mb-0">Small Annual</h6>
                    </div>
                    <div class="card-body">
                      <div class="display-2">$1300</div>
                      <span>per year</span>
                      <ul class="list-unstyled my-4">
                        <li class="align-items-center">
                          <b class="text-primary">1</b> <span>Facility</span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary">Unlimited</b> <span>Users</span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary">Unlimited</b> <span>Members</span>
                        </li>
                      </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                      <a href="https://sport-keeper.com/beta">Join the Beta</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card card-pricing bg-white border-0 text-center mb-4">
                    <div class="card-header bg-transparent">
                      <h6 class="text-uppercase ls-1 py-3 mb-0">Large Annual</h6>
                    </div>
                    <div class="card-body">
                      <div class="display-2">$2500</div>
                      <span>per year</span>
                      <ul class="list-unstyled my-4">
                        <li class="align-items-center">
                          <b class="text-primary">2</b> <span>Facilities</span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary">Unlimited</b> <span>Staff</span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary">Unlimited</b> <span>Members</span>
                        </li>
                      </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                      <a href="https://sport-keeper.com/beta">Join the Beta</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="tab-pane active" id="commercial">
              <div class="row">
                <div class="col-md-6">
                  <div class="card card-pricing bg-white border-0 text-center mb-4">
                    <div class="card-header bg-transparent">
                      <h6 class="text-uppercase ls-1 py-3 mb-0">Small Monthly</h6>
                    </div>
                    <div class="card-body">
                      <div class="display-2">$129</div>
                      <span>per month</span>
                      <ul class="list-unstyled my-4">
                        <li class="align-items-center">
                          <b class="text-primary">1</b> <span>Facility</span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary">Unlimited</b> <span>Staff</span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary">Unlimited</b> <span>Members</span>
                        </li>
                      </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                      <a href="https://sport-keeper.com/beta">Join the Beta</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="card card-pricing bg-white border-0 text-center mb-4">
                    <div class="card-header bg-transparent">
                      <h6 class="text-uppercase ls-1 py-3 mb-0">Large Monthly</h6>
                    </div>
                    <div class="card-body">
                      <div class="display-2">$249</div>
                      <span>per month</span>
                      <ul class="list-unstyled my-4">
                        <li class="align-items-center">
                          <b class="text-primary">2</b> <span>Facilities</span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary">Unlimited</b> <span>Staff</span>
                        </li>
                        <li class="align-items-center">
                          <b class="text-primary">Unlimited</b> <span>Members</span>
                        </li>
                      </ul>
                    </div>
                    <div class="card-footer bg-transparent">
                      <a href="https://sport-keeper.com/beta">Join the Beta</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>