<div class="section features features-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-center mx-auto">
        <h3 class="display-3">Features</h3>
        <p class="lead">Our passion is helping you to build yours, below are some of the features you can look forward to having as part of your new member management software.</p>
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-lg-12 mt-md-5">
        <div class="row">
          <div class="col-md-6">
            <div class="info">
              <div class="pr-md-5">
                <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                  <i class="ni ni-atom"></i>
                </div>
                <h5 class="display-5">Automatic Payment Workflows</h5>
                <p>Create recurring memberships that charge automatically by credit card or bank payment. Individual or complex family memberships can be built easily with an intuitive and easy to use membership builder.</p>
                <ul class="list-unstyled">
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Supports Optional Setup Fees</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Payments Via Stripe or ACHWorks</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Supports Non-Recurring Cash Based, and Punch Card Memberships</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <div class="pr-md-5">
                <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                  <i class="ni ni-money-coins"></i>
                </div>
                <h5 class="display-5">Digital Waivers</h5>
                <p> Our system is designed around requiring a digitally signed waiver to become a member. No need for 3rd party waiver systems </p>
                <ul class="list-unstyled">
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Digital Record of Signature Associated with Member</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">No Limit to the Number of Waivers You Can Create</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Waivers are Fully Custimizable</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-6">
            <div class="info">
              <div class="pr-md-5">
                <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                  <i class="ni ni-support-16"></i>
                </div>
                <h5 class="display-5">A Kiosk, Accessible Anywhere</h5>
                <p>You can run the kiosk on iPads or other devices, and your members can check in using a pin pad, or by scanning a bar code. New members can complete a waiver and automatically be part of your facility in minutes.</p>
                <ul class="list-unstyled">
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Designed to Run on Tablets</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Member Checkin Via Pin Code or Barcode Scanner</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Supports Automatic Checkin as a Seperate Kiosk.</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="info">
              <div class="pr-md-5">
                <div class="icon icon-shape icon-shape-primary shadow rounded-circle mb-4">
                  <i class="ni ni-laptop"></i>
                </div>
                <h5 class="display-5">Schedule/Sell Events</h5>
                <p>This will allow you to put together meetings or public events from anywhere they have access to the internet.</p>
                <ul class="list-unstyled">
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Members Can Book Events Online Using Stripe</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">\Email Confirmations Handled Automatically</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="d-flex align-items-center">
                      <div>
                        <div class="mr-3">
                          <i class="ni ni-check-bold"></i>
                        </div>
                      </div>
                      <div>
                        <p class="mb-0">Limit an Event to a Certain Number of Seats (Helpful During Crazy Pandemics)</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>